# .gitignore
# Should be maintained in sorted order: "env LANG=C sort".

*.a
*.d
*.exe
*.gen.cc
*.gen.h
*.gen.lex
*.gen.out
*.gen.tokens
*.gen.yy.cc
*.gen.yy.h
*.log
*.o
cc_tokens.cc
cc_tokens.h
cc_tokens.ids
ccparse
config.mk
in/*.error*.cc
in/big/*.i
iptparse.yy.cc
lex.backup
lexer.lex
lexer.yy.cc
lexer.yy.h
packedword_test
personal.mk
quicktest
semgrep
tlexer

# EOF
