Makefile
*.o
*.d
*.exe
*.gen.cc
*.gen.h
*.gen.out
*.gen.tokens
*.gen.lex
*.gen.yy.cc
*.log
cc_tokens.ids
cc_tokens.cc
cc_tokens.h
config.status
config.summary
lex.backup
lexer.lex
lexer.yy.cc
testcout
ccparse
in/big/*.i
in/*.error*.cc
packedword_test
quicktest
semgrep
tlexer
