# .gitignore
# Should be maintained in sorted order: "env LANG=C sort".

*.a
*.d
*.exe
*.gen.cc
*.gen.h
*.gen.lex
*.gen.out
*.gen.tokens
*.gen.yy.cc
*.log
*.o
Makefile
cc_tokens.cc
cc_tokens.h
cc_tokens.ids
ccparse
config.status
config.summary
in/*.error*.cc
in/big/*.i
iptparse.yy.cc
lex.backup
lexer.lex
lexer.yy.cc
packedword_test
quicktest
semgrep
testcout
tlexer

# EOF
